*, *::before, *::after {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
#code{
  overflow: hidden;
  height: 50vh;
}
.preview {
  height: 50vh;
  /*border: 1px solid black;*/
  background: #fee433;
}
.actions{
  position:absolute;
  right:0;
  top:0;
  /*border:1px solid red;*/
  display: flex;
  flex-direction: column;
}
.actions>button{
  z-index: 1;
  margin: 10px;
  background: #dddddd;
  padding:8px 10px;
  border:none;
  outline: none;
}
.actions>button.active{
  box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}

